/* 기본 카드 레이아웃 설정 */
.rolling-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 275px;
  height: 260px;
  padding: 24px 24px 36px;
  border-radius: 16px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  /* 배경이미지 위에 덮는 반투명 오버레이 */
  &__overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    z-index: 1;
    pointer-events: none;
  }

  /* 공간을 차지하지 않는 패턴 이미지 */
  &__pattern {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    pointer-events: none;
  }

  &__pattern-image {
    max-width: 120px;
    max-height: 120px;
    display: block;
  }

  /* 배경 이미지 있을 때 텍스트 색상 */
  &--with-bg-image {
    .rolling-card__title,
    .rolling-card__info,
    .rolling-card__count {
      color: var(--c-white);
    }
  }

  /* 상단 제목 영역 */
  &__header {
    margin-bottom: 12px;
    position: relative;
    z-index: 2;
  }

  &__title {
    color: var(--c-gray900);
    @include typo(24, 700);
  }

  /* Avartar 영역 */
  &__body {
    flex: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    z-index: 2;
  }

  /* 하단 고정 영역 */
  &__bottom {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 8px;
    min-height: 90px;
    position: relative;
    z-index: 2;
  }

  /* 작성자 수 강조 텍스트 영역 */
  &__count {
    @include typo(16, 700);
    color: var(--c-gray700);
  }

  /* 작성자 정보 문장 영역 */
  &__info {
    @include typo(16, 400);
    color: var(--c-gray700);
    transform: translateY(-30px);
  }

  /* 구분선 */
  &__line {
    border: 0.5px solid var(--c-gray500);
    opacity: 0.2;
  }

  /* 리액션(이모지) 영역 */
  &__footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 0 0;
    min-height: 36px;
  }
}
