h2 {
  @include typo(24, 700);
  color: var(--c-gray900);
  margin-bottom: 12px;
}

.write-wrap {
  margin: 47px auto 60px;
  max-width: 768px;
  padding: 0 24px;
  section {
    .title-wrap {
      margin-bottom: 24px;
      h2 {
        margin-bottom: 4px;
      }
      p {
        @include typo(16, 400);
        color: var(--c-gray500);
      }
    }
  }

  .title-wrap {
    margin-bottom: 16px;
  }

  .tabs {
    display: inline-flex;
    gap: 8px;
    margin-bottom: 16px;
    .tab {
      @include typo(16, 400);
      min-width: 122px;
      text-align: center;
      padding: 7px 16px;
      background: var(--c-gray100);
      border: 2px solid rgba(0, 0, 0, 0);
      border-radius: 8px;
    }
    .active {
      @include typo(16, 700);
      background: var(--c-white);
      border: 2px solid var(--c-purple600);
      color: var(--c-purple600);
    }
  }

  .color-grid,
  .image-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(72px, 1fr));
    gap: 16px;
    li {
      position: relative;
      list-style: none;
    }
  }

  .color-chip,
  .image-chip {
    aspect-ratio: 1/1;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    button {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .check {
      position: absolute;
      width: 44px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: var(--c-gray500);
      color: #fff;
      border-radius: 50%;
      padding: 2px 6px;
    }
  }

  .color-chip {
    width: calc(100% - 2px);
    border: 1px solid rgba(0, 0, 0, 0.08);
    &.beige {
      background-color: var(--c-beige200);
    }
    &.purple {
      background-color: var(--c-purple200);
    }
    &.blue {
      background-color: var(--c-blue200);
    }
    &.green {
      background-color: var(--c-green200);
    }
  }

  .image-chip {
    width: 100%;
    button {
      img {
        position: relative;
        width: 100%;
        height: 100%;
      }
      .image-loading-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: var(--c-gray100);
        .loading {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .button-submit {
    width: 100%;
    box-sizing: border-box;
  }
}
