h2 {
  @include typo(24, 700);
  color: var(--c-gray900);
  margin-bottom: 12px;
}

.write-wrap {
  display: grid;
  row-gap: 50px;
  section {
    .title-wrap {
      margin-bottom: 24px;
      h2 {
        margin-bottom: 4px;
      }
      p {
        @include typo(16, 400);
        color: var(--c-gray500);
      }
    }
  }
}
