.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.modal-content {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 476px;
  background: var(--c-white);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  padding: 40px 40px;
}

/* 날짜 - 오른쪽 상단 */
.modal-date {
  position: absolute;
  top: 56px;
  right: 45px;
  @include typo(14, 400);
  color: var(--c-gray400);
  z-index: 1;
}

.modal-header {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--c-gray200);

  .modal-sender-info {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  .modal-sender-details {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .modal-sender-name {
    @include typo(20, 400);
    color: var(--c-black);
    margin: 0;
  }

  .modal-sender-name--highlight {
    @include typo(20, 700);
  }
}

.modal-body {
  flex: 1;
  padding-top: 16px;
  padding-right: 20px;
  overflow-y: auto;

  .modal-message-content {
    @include typo(18, 400);
    color: var(--c-gray500);
    line-height: 1.5;
    letter-spacing: -0.18px;
    margin: 0;
    white-space: pre-wrap;
    word-break: break-word;
  }
}

.modal-footer {
  padding-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  .modal-footer-button {
    width: 120px;
    padding: 0;
  }
}

@media (max-width: 480px) {
  .modal-content {
    max-width: 100%;
    margin: 0;
    padding: 30px;
  }

  .modal-header {
    .modal-sender-name {
      @include typo(16, 400);
    }
  }

  .modal-body {
    .modal-message-content {
      @include typo(15, 400);
    }
  }

  .modal-footer {
    .modal-footer-button {
      width: 100px;
      padding: 0;
      @include typo(15, 400);
    }
  }
}

@media (max-width: 400px) {
  .modal-content {
    padding: 20px;
  }

  .modal-footer {
    .modal-footer-button {
      width: 80px;
      padding: 0;
      @include typo(14, 400);
    }
  }
}
