.input-wrap {
  position: relative;
  .input-text {
    @include typo(16, 400);
    width: 100%;
    padding: 14px 16px;
    border: 1px solid var(--c-gray300);
    border-radius: 12px;
    outline: none;
    &:focus {
      border-color: var(--c-blue500);
    }
    &.error {
      border-color: var(--c-error);
    }
  }
  .input-error-text {
    position: absolute;
    left: 16px;
    top: 100%;
    @include typo(14, 400);
    color: var(--c-error);
    margin-top: 4px;
  }
}
