.input-text {
  width: 100%;
  padding: 14px 16px;
  border: 1px solid var(--c-gray300);
  border-radius: 12px;
  font-size: 16px;
  outline: none;
}
.input-text:focus {
  border-color: var(--c-blue500);
  box-shadow: 0 0 0 3px rgba(122, 167, 255, 0.2);
}
