/* 토스트 기본 레이아웃 */
.Toastify__toast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 524px;
  padding: 10px 30px;
  border-radius: 8px;
  background: var(--c-gray800);
  color: var(--c-white);
  @include typo(16, 400);
}

/* 텍스트 영역 */
.Toastify__toast-body {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  padding: 0;
  margin: 0;
}

/* 아이콘 영역 */
.toast__icon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  margin-right: 10px;
}

/* 닫기 버튼, 아이콘 영역 */
.toast__close,
.Toastify__close-button {
  width: 28px;
  height: 28px;
  margin-left: auto;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 1;
  }
}

/* 공통 프로그레스바 */
.Toastify__progress-bar {
  height: 4px;
  border-radius: 0 0 8px 8px;
}

@media (max-width: 1024px) {
  .Toastify__toast-container {
    margin-bottom: 76px;
    .Toastify__toast {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 585px) {
  .Toastify__toast-container {
    width: 100%;

    .Toastify__toast {
      width: calc(100% - 48px); // 화면 크기에 맞게 조정
      margin: 0 24px 10px;
    }
  }
}

@media (max-width: 480px) {
  .Toastify__toast-container {
    .Toastify__toast {
      width: calc(100% - 40px); // 화면 크기에 맞게 조정
      margin: 0 20px 5px;
    }
  }
}
